<div class="filter-wrapper px-2 py-2 shadow-sm">
  <form>
    <div class="container-fluid">
      <div class="row">
        <ng-container *ngFor="let item of config.items">
          <div class="col-3 p-1">
            <ng-container *ngIf="item.type === 'text'" [ngTemplateOutlet]="text" [ngTemplateOutletContext]="{ item: item }"></ng-container>
          </div>
        </ng-container>
        <div class="col p-1 d-flex justify-content-end">
          <div class="row flex-md-nowrap m-0">
            <button class="btn basic reset d-inline-block col-auto"
                    (click)="resetFilter()">
              Reset
            </button>
            <button type="submit" class="btn basic d-inline-block col-auto"
                    (click)="applyFilter();">
              Filtrovať
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #text let-item="item">
  <mat-form-field appearance="outline">
    <mat-label>{{item.label}}</mat-label>
    <input matInput [(ngModel)]="item.value">
  </mat-form-field>
</ng-template>
