.filter-wrapper {
  background-color: white;//#27c3d2;
  border-radius: 7px;
  width: 100%;
}

.input {
  border-radius: 7px;
  height: 2.2rem;
  font-size: 1rem;
}

.basic {
  border-radius: 7px;
}

.reset {
  margin-right: 0.5rem;
}

mat-form-field {
  width: 100%;
}
