<div class="pt-2">
  <app-filter (apply)="filterApplied($event)"></app-filter>
</div>

<div class="mt-4">
  <button *ngIf="!isNewRecordFormOpen" type="submit" class="btn basic d-inline-block col-auto" (click)="openReportForm();">
    Pridať pacienta
  </button>

  <ng-container *ngIf="isNewRecordFormOpen">
    <app-new-patient (close)="onCloseReport($event)"></app-new-patient>
  </ng-container>
</div>


<div class="mt-2">
  <app-records-list [patients]="this.patients"></app-records-list>
</div>

<div class="mt-4">
  <app-pagination></app-pagination>
</div>

