.page-content {
  background: linear-gradient(rgba(243, 249, 255, 0.97), rgba(236, 236, 248, 0.96), rgba(255, 251, 252, 0.91));
  margin-left: 320px;
  margin-right: 1.5rem;
  min-height: calc(100vh - 1.5rem);
  border-radius: 14px 14px 0 0;
}

.page-content.expanded {
  background: rgba(211, 211, 211, 0.29);
  margin: 0!important;
  height: 100vh;
}
