<nav aria-label="d-flex align-items-center">
  <ul class="pagination align-items-center justify-content-center">
    <li class="page-item" style="margin-right: .9rem;"><a class="p-3" href="" (click)="$event.preventDefault();"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
    <li class="page-item"><a class="py-2 px-3 active" href="" (click)="$event.preventDefault();">1</a></li>
    <li class="page-item"  style="margin-left: .9rem;"><a class="p-3" href="" (click)="$event.preventDefault();"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
  </ul>
</nav>
