<p>Informácie</p>
<div class="row">
  <div class="col-12">
    <mat-form-field appearance="outline" class="read-only">
      <mat-label>Názov záznamu</mat-label>
      <input matInput readonly="true" value="{{record.title}}">
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field appearance="outline" class="read-only">
      <mat-label>Vykonal</mat-label>
      <input matInput readonly="true" value="{{record.doctor.person.firstName}} {{record.doctor.person.lastName}}">
    </mat-form-field>
  </div>
  <div class="col-9">
    <mat-form-field appearance="outline" class="read-only">
      <mat-label>Ambulancia</mat-label>
      <input matInput readonly="true" value="{{record.doctor.ambulance.name}}">
    </mat-form-field>
  </div>
  <div class="col-12">
    <mat-form-field appearance="outline" class="read-only">
      <mat-label>Lekárska správa</mat-label>
      <textarea matInput
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="10"
                cdkTextareaAutosize="true"
                readonly="true"
                value="{{record.report}}">
          </textarea>
    </mat-form-field>
  </div>
</div>

<hr/>

<p>Diagnózy</p>
<div class="row pb-4" *ngIf="record.diagnosis !== undefined">
  <div class="col-12">
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="record.diagnosis">

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Kód</th>
          <td mat-cell *matCellDef="let element"> {{element.diagnosis.code}} </td>
        </ng-container>

        <ng-container matColumnDef="localization">
          <th mat-header-cell *matHeaderCellDef>Lokalizácia</th>
          <td mat-cell *matCellDef="let element"> {{element.localization}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Názov</th>
          <td mat-cell *matCellDef="let element"> {{element.diagnosis.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
<div class="row" *ngIf="record.diagnosis === undefined">
  <div class="col-12">
    Bez diagnóz
  </div>
</div>
