/* You can add global styles to this file, and also import other style files */
:root {
  --main-color-full: #27c3d2;
  --main-color-light: #ecfefe;
}

p {
  font-size: 1rem;
  letter-spacing: 1px;
  margin-top: 1.5rem!important;
  margin-bottom: 1.4rem!important;
}

hr {
  color: var(--main-color-full);
  margin: 0.2rem 0 1.2rem 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.logo-name {
  font-size: 1.65rem;
  color: var(--main-color-full);
  font-weight: 600;
}

.input {
  background-color: #f3f3f3;
  border-radius: 12px;
  border: 0;
  font-size: 1.1rem;
  height: 3rem;
  box-sizing: border-box;
  color: #6c88a3;
}

.input:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #27c3d2;
}

.btn.basic {
  color: white;
  background-color: var(--main-color-full);
  border-color: var(--main-color-full);
  border-radius: 14px;
}

.fw-normal {
  font-weight: 500!important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
